
body {
    background: url("../images/bg.png") no-repeat top right fixed;
    background-color: tomato;
}
@font-face {
    font-family: '3dumbregular';
    src: url('fonts/3Dumb-webfont.eot');
    src: url('fonts/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/3Dumb-webfont.woff2') format('woff2'),
         url('fonts/3Dumb-webfont.woff') format('woff'),
         url('fonts/3Dumb-webfont.ttf') format('truetype'),
         url('fonts/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1, h2, p {
    text-align: center;
}

h1#full-name {
    width: 15em;
    margin: auto;
    background-color: thistle;
    font-family: '3dumbregular', Arial, Helvetica, sans-serif;
    border: 2px solid #ddd;
    box-shadow: 6px 6px 0px black ;
    border-radius: 10px;
}

h1#role-title {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    background-color: thistle;
    border: 2px solid #ddd;
}

h2:hover {
    color: whitesmoke;
    background-color: black;
}

section {
    display: flex;
    justify-content: space-between;
}

section div {
    width: 30%;
}

@media all and (max-width: 1024px) {

    body {
        background-image: none;
    }
    section {
        flex-direction: column;
    }
    section div {
        width: 100%;
    }
}


 