
#container {
    border: 2px solid red;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px; */
}
.element {
    width: 15em;
    height: 15em;
    border: 1px solid black;
    margin: auto;
    word-wrap: break-word;
    text-align: center;
}

.element:nth-child(1) {
    background-color: orange;
    flex: 3;
}

.element:nth-child(2) {
    background-color: blue;
    flex: 2;
}

.element:nth-child(3) {
    background-color: green;
    align-self: flex-end;
    flex: 1;
}